html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #0e0e0e;
  color: $primary-text-color;
}

ul {
  list-style: none;

  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

//* Container box */
.container {
  margin-right: auto;
  margin-left: auto;
  // outline: 1px solid tomato;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media screen and (min-width: 768px) {
    width: 595px;
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 1050px;
    padding-left: 58px;
    padding-right: 58px;
  }
}
.main-part {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url('../images/body/bgBody-tablet@1x.png');
    background-size: 100%;
    background-position: top;
    // background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/body/bgBody-tablet@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/body/bgBody-tablet@3x.png');
    }
  }

  @media screen and (min-width: 1280px) {
    margin-top: -50px;
    background-image: url('../images/body/bgBody-desktop@1x.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/body/bgBody-desktop@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (-o-min-device-pixel-ratio: 3/1),
      screen and (-webkit-min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/body/bgBody-desktop@3x.png');
    }
  }
}
