@import './utils/font';
@import './utils/variables';

@import './base/common';
@import './base/normalize';
@import './base/choices';

@import './components/preloader.scss';
@import './components/footer';
@import './components/gallery';
@import './components/header';
@import './components/pagination';
@import './components/team-lightbox';
