{{!-- {{#each this}}
<li class="event__item">
    <img class="event__image" src="{{}}" alt="{{}}"/>
    <div class="event__info">
        <h2 class="event__artist">{{}}</h2>                
        <p class="event__date">{{}}</p>
        <p class="event__place"> 
            <svg class="event__icon" aria-label="Значек позиции">
                <use class="icon-nav" href="./images/sprite.svg#icon-vector"></use>
            </svg>
            {{}}
        </p>
    </div>
</li>
{{/each}} --}}