//Переменные цвета
$title-text-color: #dc56c5;
$primary-text-color: #fff;
$secondary-text-color: #939393;

$bg-color:  #0E0E0E;
$border-color: #212121;
$input-color: rgba(255, 255, 255, 0.2);

//Модалка
$bg-modal: #fff2fd;
$btn-modal: #4c00fe;

//Шрифт
$montserrat: 'Montserrat';

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
