<footer class="container">
  <div class="goTopContainer">
    <a href="#search" class="up-button" id="myBtn" target="_blank" rel="noopener noreferrer">
      <svg class="up-button-svg" width="35" height="35">
        <use href="./images/sprite.svg#icon-circle-up"></use>
      </svg>
    </a>
  </div>
  <div class="footer-container">
    <p class="footer-p-main">
      &copy; 2021 | All Rights Reserved | Developed with
      <span style="color: #d4190f"> &#10084; </span>
      <span class="js-team-modal team-modal">by GoIT Students</span>
    </p>
  </div>
</footer>
