<section class="container">
        <ul class="gallery_list">
            <li class="event__item">
                <div class="event_img">
                <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                <h2 class="event__artist">Eurovision 2021 finals!</h2>
                <p class="event__date">2021-05-13</p>
                <p class="event__place">
                    <svg class="event__icon" aria-label="Navigation map point">
                        <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                    </svg>
                    Palace of Ukraine
                </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
            <li class="event__item">
                <div class="event_img">
                    <img src="./images/example.png" alt="" class="event__image">
                </div>
                <div class="event__info">
                    <h2 class="event__artist">Eurovision 2021 finals!</h2>
                    <p class="event__date">2021-05-13</p>
                    <p class="event__place">
                        <svg class="event__icon" aria-label="Navigation map point">
                            <use class="icon-nav" href="./images/sprite.svg#icon-placemarker"></use>
                        </svg>
                        Palace of Ukraine
                    </p>
                </div>
            </li>
        </ul>
</section>