<header class="header">
    <div class="container">
        <div class="header-components">
            <a class="logo" href="#">
                <svg class="logo-svg">
                    <use href="./images/sprite.svg#icon-logo-1"></use>
                </svg>
            </a>
            <h1 class="header-title">FIND BEST EVENTS <br> AROUND THE WORLD</h1>
            <form class="header-form">
                <label class="input__label">   
                    <input class="input search-input" type="text" placeholder="Start searching">
                    <svg class="input__icon">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>
                </label>
                <select class="select-js" name="" id="">
                    <option value="">Choose country</option>
                    <option value="AAAAAAAAAAAAA">AAAAAAAAAAAAA</option>
                    <option value="BBBBBBBBBBBBB">BBBBBBBBBBBBB</option>
                    <option value="CCCCCCCCCCCCC">CCCCCCCCCCCC</option>
                    <option value="DDDDDDDDDDDD">DDDDDDDDDDDD</option>
                    <option value="EEEEEEEEEEEE">EEEEEEEEEEEEEEEEEEEEEEEEEEEE</option>
                    <option value="FFFFFFFF">FFFFFFFF</option>
                    <option value="GGGGGGGG">GGGGGGGG</option>
                    <option value="HHHHHHHHH">HHHHHHHHH</option>
                    <option value="IIIIIIIII">IIIIIIIIIIIIIIIIIIIIIIII</option>
                    <option value="JJJJJJJJJ">JJJJJJJJJ</option>
                    <option value="KKKKKKKKK">KKKKKKKKK</option>
                    <option value="LLLLLLLLLLLL">LLLLLLLLLLLL</option>
                    <option value="MMMMMMMMMMMMM">MMMMMMMMMMMMMMMMMMMMMMMMMM</option>
                    <option value="NNNNNNNN">NNNNNNNN</option>
                    <option value="OOOOOOOOO">OOOOOOOOO</option>
                    <option value="PPPPPPPPPP">PPPPPPPPPP</option>
                    <option value="QQQQQQQQQQ">QQQQQQQQQQ</option>
                    <option value="RRRRRRRRRRR">RRRRRRRRRRR</option>
                </select>
            </form>
        </div>
    </div>
</header>