<header class="header">
    <div class="container">
        <div class="header-components">
            <a class="logo" href="#">
                <svg class="logo-svg">
                    <use href="./images/sprite.svg#icon-logo-1"></use>
                </svg>
            </a>
            <h1 class="header-title">FIND BEST EVENTS <br> AROUND THE WORLD</h1>
            <form class="header-form">
                <input class="input search-input" type="text" placeholder="Start searching">
                <select class="select-js" name="" id="">
                    <option value="">Choose country</option>
                </select>
            </form>
        </div>
    </div>
</header>