.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  border-color: rgb(245, 242, 242);
  color: rgb(245, 242, 242);
  cursor: pointer;
  border-radius: 1px;
  display: none;
}

.back_to_top:hover {
  background: rgba(220, 86, 197, 0.9);
}

.back_to_top_show {
  display: block;
}
.footer-link {
  color: rgb(245, 242, 242);
}
.footer-link:hover {
  color: rgba(220, 86, 197, 0.9);
  text-decoration: underline;
}

// .footer-p-main {
//   border-top: 1px solid rgb(220, 86, 197);
// }
.footer-container {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 20px;
}
