<<<<<<< HEAD
.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 30px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  border-color: rgb(245, 242, 242);
  color: rgb(245, 242, 242);
  cursor: pointer;
  border-radius: 1px;
  display: none;
}

.back_to_top:hover {
  background: rgba(220, 86, 197, 0.9);
}

.back_to_top_show {
  display: block;
=======
.goTopContainer {
  display: grid;
}
#myBtn#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
.up-button-svg {
  width: 45px;
  height: 45px;
  fill: rgba(220, 86, 198, 0.4);
  // background-color: $white;
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.up-button-svg:hover {
  fill: $title-text-color;
  transform: scale(1.05);
}

// .back_to_top {
//   position: fixed;
//   bottom: 60px;
//   right: 30px;
//   z-index: 9999;
//   text-align: center;
//   color: rgba(220, 86, 197, 0.9);
//   cursor: pointer;
//   display: none;
//   background-color: Transparent;
//   border: none;
//   cursor: pointer;
//   overflow: hidden;
// }

// .back_to_top:hover {
//   transform: scale(1.6);
//   transition: box-shadow 0.9s, transform 0.7s;
// }

// .back_to_top_show {
//   display: block;
// }

// .span-arrow {
//   font-size: 40px;
//   font-weight: 900;
// }
.team-modal {
  cursor: pointer;
  color: rgb(245, 242, 242);
}
.team-modal:hover {
  color: rgba(220, 86, 197, 0.9);
  text-decoration: underline;
}

// .footer-p-main {
//   border-top: 1px solid rgb(220, 86, 197);
// }
.footer-container {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 27px;

  @media screen and (min-width: 768px) {
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 80px;
  }
>>>>>>> dev
}
