.back_to_top {
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 9999;
  text-align: center;
  color: rgba(220, 86, 197, 0.9);
  cursor: pointer;
  display: none;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.back_to_top:hover {
  transform: scale(1.6);
  transition: box-shadow 0.9s, transform 0.7s;
}

.back_to_top_show {
  display: block;
}

.span-arrow {
  font-size: 40px;
  font-weight: 900;
}
.team-modal {
  cursor: pointer;
  color: rgb(245, 242, 242);
}
.team-modal:hover {
  color: rgba(220, 86, 197, 0.9);
  text-decoration: underline;
}

// .footer-p-main {
//   border-top: 1px solid rgb(220, 86, 197);
// }
.footer-container {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 27px;

  @media screen and (min-width: 768px) {
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 80px;
  }
}
