.header {
  padding-top: 78px;
  padding-bottom: 112px;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 183px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 192px;
  }
}
.header-title {
  color: #dc56c5;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 27px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 50px;
    margin-bottom: 52px;
  }
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 90px;
}
.input {
  width: 270px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
}
.search-input {
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
// .header-form {
//   //   margin-bottom: 112px;

//   //   @media screen and (min-width: 768px) {
//   //     margin-bottom: 183px;
//   //   }
//   //   @media screen and (min-width: 1280px) {
//   //     margin-bottom: 192px;
//   //   }
// }
