:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

// потом убрать
.modalEvent__icon {
  display: none;
}
/* Lightbox */
.lightbox {
  // align-items: center;
  // justify-content: center;
  // position: absolute;

  // width: 100vw;
  // height: 100vh;
  opacity: 0;

  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);

  &.is-open {
    opacity: 1;
    pointer-events: initial;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 13, 29, 0.6);
    display: block;
  }
}

.lightbox__overlay {
  // width: 272px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin-left: auto;
  // margin-right: auto;
  background-color: #fff;
  border-radius: 150px 0;
  // padding-right: 17px;
  // padding-left: 13px;
  // position: sticky;
  // line-height: 0.8;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 75px;
  height: 915px;
  width: 272px;
  // top: 414px;
  @media screen and (min-width: 768px) {
    // top: 161px;
    height: 831px;
    width: 595px;
    padding-left: 50px;
    padding-right: 17px;
    padding-top: 28px;
    border-radius: 300px 0px;
  }
  @media screen and (min-width: 1280px) {
    // top: 201px;
    height: 1023px;
    width: 942px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 62px;
  }
}

// .lightbox__content {
//   transform: scale(0.95);
//   color: #000;
//   transition: transform var(--animation-duration) var(--timing-function);
// }

// .lightbox.is-open .lightbox__content {
//   transform: scale(1);
// }

.lightbox__button1 {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  // background-image: url('sprite.5ec50489.svg#icon-close');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalEvent__image--round {
  width: 102px;
  height: 102px;
  object-fit: cover;
  border-radius: 50%;
  @media screen and (min-width: 768px) {
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
  }
}
.modalEvent__content {
  margin-top: 7.8px;
  display: flex;
  @media screen and (min-width: 768px) {
    margin-top: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 41px;
  }
}

.modalEvent__image--cube {
  display: none;
  margin: 0;
  // position: absolute;
  @media screen and (min-width: 768px) {
    display: block;
    width: 233px;
    height: 416px;
    object-fit: cover;
    // top: 141px;
    // left: 50px;
  }
  @media screen and (min-width: 1280px) {
    width: 360px;
    height: 641px;
    object-fit: cover;
    // top: 228px;
    // left: 60px;
  }
}

.info__name {
  color: #dc56c5;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 7px;
  }
}
.modalEvent__information {
  // position: absolute;
  top: 195px;
  text-align: center;
  font-size: 16px;

  width: 243px;

  color: #0e0e0e;
  @media screen and (min-width: 768px) {
    text-align: start;
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 60px;
  }
}
.modalEvent__information p {
  margin-bottom: 10px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}
.moreInfo__button {
  position: absolute;
  bottom: 104px;
  left: 21 px;
  @media screen and (min-width: 768px) {
    bottom: 56px;
    left: 170px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 62px;
    left: 337px;
  }
}
// .modalEvent__info {
//   font-size: 16px;
//   text-align: center;
//   width: 243px;
//   margin: 0 auto;
//   color: #0e0e0e;
// }

// .lightbox {
//   line-height: 0.8;
//   height: 100%;
//   width: 100%;
//   background: rgba(32, 13, 29, 0.6);
//   padding-top: 414px;

//   button {
//     background-color: transparent;
//     padding: 0;
//     border: none;
//   }
//   .btn_close {
//     display: inline-block;
//     position: absolute;
//     right: 25px;
//     top: 25px;
//   }
//   .btn_close:hover .icon-close {
//     --color1: #000;
//   }
//   .icon-close {
//     width: 17px;
//     height: 17px;
//     --color1: #4c00fe;
//   }
//   .info__name {
//     color: #dc56c5;
//     font-weight: 600;
//     font-size: 20px;
//   }
//   .info__name:not(:first-child) {
//     margin-top: 8px;
//   }
//   p {
//     margin-top: 5px;
//     font-weight: 400;
//   }
//   a {
//     color: #fff;
//     font-weight: 500;
//   }
// }

//   .modal {
//     width: 272px;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #fff;
//     border-radius: 150px 0;
//     padding-top: 70px;
//     padding-right: 17px;
//     padding-left: 13px;
//     position: relative;
//   }
//   .modalEvent__info {
//     font-size: 16px;
//     text-align: center;
//     width: 243px;
//     margin: 0 auto;
//   }
//   .modalEvent__image--cube {
//     display: none;
//   }
//   .modalEvent__image--round {
//     width: 102px;
//     display: block;
//     margin: auto;
//   }
//   .modalEvent__date {
//     margin-bottom: 3px;
//   }
//   .modalEvent__place {
//     margin-top: 3px;
//   }
//   .modalEvent__time,
//   .modalEvent__city,
//   .modalEvent__country {
//     display: inline;
//   }
//   .buyTickets__button {
//     display: inline-block;
//     background-color: #4c00fe;
//     margin-top: 10px;
//     padding: 10px 19px;
//   }
//   .modalEvent__vip {
//     margin-top: 20px;
//   }
//   .moreInfo__button {
//     display: inline-block;
//     margin: 25px 31px 104px 30px;
//     padding: 10px 2px;
//     border: 1px solid #4c00fe;
//     border-radius: 5px;
//     color: #4c00fe;
//     font-weight: 500;
//   }
//   .modalEvent__icon {
//     width: 24px;
//     height: 16px;
//     margin-right: 13px;
//   }

// @media (min-width: 768px) {
//   .lightbox {
//     padding-top: 161px;
//     .info__name {
//       margin-bottom: 5px;
//     }
//     .modalEvent__image--cube {
//       display: block;
//       width: 233px;
//       height: 416px;
//       margin-right: 30px;
//     }
//     .modal {
//       width: 595px;
//       border-radius: 300px 0;
//       padding-bottom: 56px;
//       padding-right: 0;
//       padding-left: 0;
//     }
//     .modalEvent__content {
//       display: flex;
//       margin: 36px 17px 43px 50px;
//     }
//     .modalEvent__info {
//       text-align: left;
//       width: 265px;
//       margin: 0 auto;
//     }
//     .modalEvent__image--round {
//       margin-top: 3px;
//       width: 70px;
//     }
//     .info__name {
//       margin-top: 0;
//     }
//     .moreInfo__button {
//       margin: 0 0 0 170px;
//       border-radius: 5px;
//       padding: 10px 15px;
//     }
//   }
// }

// @media (min-width: 1200px) {
//   .lightbox {
//     padding-top: 201px;
//     .modalEvent__image--cube {
//       width: 360px;
//       height: 640px;
//       margin-right: 60px;
//     }
//     .modal {
//       width: 903px;
//       padding-bottom: 63px;
//     }
//     .modalEvent__date {
//       margin-top: 7px;
//       margin-bottom: 5px;
//     }
//     .modalEvent__content {
//       margin: 41px 30px 45px 30px;
//     }
//     .modalEvent__info {
//       width: 450px;
//     }
//     .info__name {
//       font-size: 24px;
//       margin-bottom: 7px;
//     }
//     .info__name:not(:first-child) {
//       margin-top: 20px;
//     }
//     p {
//       font-size: 18px;
//     }
//     .modalEvent__image--round {
//       width: 132px;
//     }
//     .moreInfo__button {
//       margin-left: 337px;
//     }
//     .modalEvent__vip {
//       margin-top: 31px;
//     }
//     .buyTickets__button {
//       margin-top: 20px;
//     }
//     .modalEvent__standart {
//       margin-top: 7px;
//     }
//     .modalEvent__artist {
//       margin-top: 7px;
//     }
//     .modalEvent__city {
//       margin-top: 7px;
//     }
//     p.modalEvent__info {
//       margin-top: 7px;
//     }
//   }
// }
