.lightbox {
  display: none;
  line-height: 0.8;
  height: 100%;
  width: 100%;
  background: rgba(32, 13, 29, 0.6);
  padding-top: 400px;
  button {
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .btn_close {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .btn_close:hover .icon-close {
    --color1: #000;
  }
  .icon-close {
    width: 17px;
    height: 17px;
    --color1: #4c00fe;
  }
  .info__name {
    color: #dc56c5;
    font-weight: 600;
    font-size: 20px;
  }
  .info__name:not(:first-child) {
    margin-top: 8px;
  }
  p {
    margin-top: 5px;
    font-weight: 400;
  }
  a {
    color: #fff;
    font-weight: 500;
  }

  .modal {
    width: 272px;
    margin: auto;
    background-color: #fff;
    border-radius: 150px 0;
    padding-top: 70px;
    padding-right: 17px;
    padding-left: 13px;
    position: relative;
  }
  .modalEvent__info {
    font-size: 16px;
    text-align: center;
    width: 243px;
    margin: 0 auto;
  }
  .modalEvent__image--cube {
    display: none;
  }
  .modalEvent__image--round {
    width: 102px;
    display: block;
    margin: auto;
  }
  .modalEvent__date {
    margin-bottom: 3px;
  }
  .modalEvent__place {
    margin-top: 3px;
  }
  .modalEvent__time,
  .modalEvent__city,
  .modalEvent__country {
    display: inline;
  }
  .buyTickets__button {
    display: inline-block;
    background-color: #4c00fe;
    margin-top: 10px;
    padding: 10px 19px;
  }
  .modalEvent__vip {
    margin-top: 20px;
  }
  .moreInfo__button {
    display: inline-block;
    margin: 25px 31px 104px 30px;
    padding: 10px 2px;
    border: 1px solid #4c00fe;
    border-radius: 5px;
    color: #4c00fe;
    font-weight: 500;
  }
  .modalEvent__icon {
    width: 24px;
    height: 16px;
    margin-right: 13px;
  }
}

@media (min-width: 768px) {
  .lightbox {
    padding-top: 161px;
    .info__name {
      margin-bottom: 5px;
    }
    .modalEvent__image--cube {
      display: block;
      width: 233px;
      height: 416px;
      margin-right: 30px;
    }
    .modal {
      width: 595px;
      border-radius: 300px 0;
      padding-bottom: 56px;
      padding-right: 0;
      padding-left: 0;
    }
    .modalEvent__content {
      display: flex;
      margin: 36px 17px 43px 50px;
    }
    .modalEvent__info {
      text-align: left;
      width: 265px;
      margin: 0 auto;
    }
    .modalEvent__image--round {
      margin-top: 3px;
      width: 70px;
    }
    .info__name {
      margin-top: 0;
    }
    .moreInfo__button {
      margin: 0 0 0 170px;
      border-radius: 5px;
      padding: 10px 15px;
    }
  }
}

@media (min-width: 1200px) {
  .lightbox {
    padding-top: 201px;
    .modalEvent__image--cube {
      width: 360px;
      height: 640px;
      margin-right: 60px;
    }
    .modal {
      width: 903px;
      padding-bottom: 63px;
    }
    .modalEvent__date {
      margin-top: 7px;
      margin-bottom: 5px;
    }
    .modalEvent__content {
      margin: 41px 30px 45px 30px;
    }
    .modalEvent__info {
      width: 450px;
    }
    .info__name {
      font-size: 24px;
      margin-bottom: 7px;
    }
    .info__name:not(:first-child) {
      margin-top: 20px;
    }
    p {
      font-size: 18px;
    }
    .modalEvent__image--round {
      width: 132px;
    }
    .moreInfo__button {
      margin-left: 337px;
    }
    .modalEvent__vip {
      margin-top: 31px;
    }
    .buyTickets__button {
      margin-top: 20px;
    }
    .modalEvent__standart {
      margin-top: 7px;
    }
    .modalEvent__artist {
      margin-top: 7px;
    }
    .modalEvent__city {
      margin-top: 7px;
    }
    p.modalEvent__info {
      margin-top: 7px;
    }
  }
}

