.pagination {
  padding-top: 60px;
}
.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-list .btn-next {
  margin-left: 10px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  background: transparent;
  color: $primary-text-color;
  border: none;
  margin-right: 5px;
  & span:hover {
    color: $title-text-color;
    // border: 1px solid $title-text-color;
    // border-radius: 10px 0px;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
}

.pagination-item.active {
  color: $title-text-color;
  border: 1px solid $title-text-color;
  border-radius: 10px 0px;
}

.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}
