.basicLightbox {
  overflow: scroll;
}
.logo__icon {
  width: 20px;
  height: 20px;

  @media screen and (min-width: 768px) {
    width: 22px;
    height: 22px;
  }

  @media screen and (min-width: 1280px) {
    width: 32px;
    height: 32px
  }
}
.btn_close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color var(--animation-duration) var(--timing-function);
    outline: none;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.icon-close {
  --color1: blue;
  width: 40px;
  height: 40px;
}


.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 20px;

  width: 240px;
  background-color: $bg-modal;
  margin-top: 300px;

  @media screen and (min-width: 768px) {
    width: 600px;
  }

  @media screen and (min-width: 1280px) {
    margin: -30px;
    width: 800px;
  }
}

.team-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5px;

  width: calc((100% - 40px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 160px) / 4);
  }

  @media screen and (min-width: 1280px) {
    margin: 10px;

    width: calc((100% - 280px) / 4);
  }
}

.team-image {
  margin-bottom: 10px;
  margin-top: 5px;

  width: 100%;

  border-radius: 50% 0;
  box-shadow: 5px 5px 11px -2px $btn-modal;
}

.team-name {
  margin-bottom: 5px;
  color: $title-text-color;
  font-family: $montserrat;
  font-weight: 700;
}

.team-role {
  font-family: $montserrat;

  @media screen and (max-width: (768px - 1)) {
    font-size: 14px;
  }

  color: $title-text-color;
}

.team-git {
  position: absolute;

  top: 73px;
  right: -9px;

  @media screen and (min-width: 768px) {
    top: 93px;
    right: -7px;
  }

  @media screen and (min-width: 1280px) {
    top: 105px;
    right: -16px;
  }

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

// footer

.team-modal {
  text-decoration: underline;
  color: rgb(245, 242, 242);
  cursor: pointer;
}
